@use '../components/app/App.scss';

#search {
  background-color: var(--color2);

  display: flex;
  justify-content: space-evenly;
  align-self: center;

  #search-bar {
    margin: auto 0 auto 0;
  }

  #page-nav {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    button {
      margin: 10px;
    }
  }
}